[user]
	email = brightquasarsoftware@gmail.com
	name = brightquasar
	username = brightquasar
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
